// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  greenBr:#04a03f, 
  primary: #488aff,
  secondary: #32db64, 
  danger: #f53d3d, 
  orangeColor:#fb8d2f, 
  light: #f4f4f4, 
  dark: #222, 
  customGray: #ccc, 
  heading: #dc1150, 
  footerBtn: #14b250, 
  textColor: #333232, 
  topHeading:#282828, 
  white:#fff,
  black: #000, 
  cartColor: red, 
  textBackground: #efefef, 
  faqBackground:#ebebeb, 
  iconColor:#444242, 
  registerBtn: #336cae, 
  bluecolor:dodgerblue, 
  cartBoxShadow:#8a8a8a, 
  labelColor:#4d4d4d, 
  para:#6e6e6e, 
  spanText:#3b3b3b, 
  btnColor:#a76e9d, 
  toggleIcon: #a1dbe4, 
  yellowShade:#e6e60d,
  buttonffectColor: #e0e0e0,
  borderLine: #dedede,
  filterHeading: #5a5454
  );




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
